---
name: Stale issues
on:
  schedule:
    - cron: 0 0 * * *
permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write  # for actions/stale to close stale issues
      pull-requests: write  # for actions/stale to close stale PRs
    timeout-minutes: 1
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: This issue is stale because it has been labeled with inactivity.
          stale-pr-message: This PR is stale because it has been labeled with inactivity.
          exempt-issue-labels: lifecycle/frozen,lifecycle/active,priority/critical-urgent,priority/important-soon,priority/important-longterm,priority/backlog,priority/awaiting-more-evidence
          exempt-pr-labels: lifecycle/active
          stale-pr-label: lifecycle/stale
          stale-issue-label: lifecycle/stale
          days-before-stale: 60
          days-before-close: 20
